body { 
    background-color: #f8f8fa;
}
html, body { 
    margin: 0;
    height: 100%;
}
.content-container {
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    color: #e32991;
 
    font-weight: bold;
    font-family: 'Lato';
}
.form-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input {
    margin: 1.5rem 0 1rem 0;
    border-radius: 3px;
    padding: 0.3rem;
}
label {
    display: inline-flex;
    color: #003669;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lato';
    width: 8rem;
}
.buttons-container {
    display: flex;
    justify-content: center;
}
.buttons-container button {
    margin: 1.5rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1rem;
    background-color: #e32991;
    color: white;
    cursor: pointer;
}
.login-form div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}